{{#if displayTitleMsg}}
	<span class="instruction rosterTitleMessage">{{translate 'title_msg'}}</span>
{{/if}}
<div id="roster-filters">
    <div class="form-group" id="roster-set-selector-wrapper">
        <label for="roster-enrollmentset-selector" class="form-control-label">{{translate 'enrollment_set_filter_label'}}</label>
        <div>
            <select id="roster-enrollmentset-selector">
                {{#each enrollmentSets}}
                    <option value="{{id}}">{{title}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group" id="roster-status-selector-wrapper">
        <label for="roster-status-selector" class="form-control-label">{{translate 'enrollment_status_filter_label'}}</label>
        <div class="roster-table-cell">
            <select id="roster-status-selector">
                <option selected="selected" value="">{{translate 'roster_enrollment_status_all'}}</option>
                {{#each enrollmentStatusCodes}}
                    <option value="{{@key}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <button id="roster-export-button" title="{{translate 'navbar_export_tooltip'}}">{{translate 'navbar_export'}}</button>
</div>

<div id="roster-search-group">
    <div class="form-group">
        <label for="roster-search-field" class="form-control-label">{{translate 'roster_search_text'}}</label>
        <div>
            <input id="roster-search-field" type="text" value="{{#if searchQuery}}{{searchQuery}}{{/if}}" />
            <input id="roster-search-button" class="active" type="button" value="{{translate 'roster_search_button'}}" />
            <input id="roster_form_clear_button" type="button" value="{{translate 'roster_clear_button'}}" />		
        </div>	
     </div>
</div>

<div id="roster_type_selector" class="row">
    {{#if viewOfficialPhoto}}
    <div class="form-inline">
        <div class="form-group">
            <div class="radio">
                <label style="margin-right: 1em;">
                    <input style="margin-right: 0.5em;" type="radio" name="roster_picture_type" value="official" id="roster_official_picture_button" {{#if roster.rosterOfficialPictureMode}}checked{{/if}}/><span>{{translate 'roster_show_official_pictures'}}</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="radio">
                <label style="margin-right: 1em;">
                    <input style="margin-right: 0.5em;" type="radio" name="roster_picture_type" value="profile" id="roster_profile_picture_button" {{#unless roster.rosterOfficialPictureMode}}checked{{/unless}}/><span>{{translate 'roster_show_profile_pictures'}}</span>
                </label>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<div class="row">
    <div class="form-group col-sm-6">
        <button class="roster-print-button">{{translate 'print_roster'}}</button>
        <label id="roster-pictures-only-label">
            <input type="checkbox" id="roster-pictures-only-button" />
            {{translate 'pictures_only'}}
        </label>
    </div>
</div>
<div id="roster-members-content"></div>
<div id="roster-loading-image"><img src="/sakai-roster2-tool/images/ajax-loader.gif" /></div>
<div class="row">
    <div class="form-group col-sm-6">
        <button class="roster-print-button">{{translate 'print_roster'}}</button>
    </div>
</div>
