<div id="{{container}}">
    <div class="roleTitle">
        {{capitalizeFirstLetter role}}
        <div class="roleDetail">
            <span class="roleShown"></span>
            <span>{{roleFragment}}</span>
        </div>
    </div>
    <div class="roster-table">
        <div class="roster-table-header-group">
            <div class="roster-table-row">
                {{#if viewPicture}}
                <div class="roster-table-cell roster-picture-cell">{{translate 'facet_picture'}}</div>
                {{/if}}
                {{#unless hideNames}}
                <div class="roster-table-cell roster-name-cell">{{translate 'facet_name'}}</div>
                {{/unless}}
                {{#if viewUserDisplayId}}
                <div class="roster-table-cell roster-userid-cell">{{translate 'facet_userId'}}</div>
                {{/if}}
                {{#if enrollmentsMode}}
                <div class="roster-table-cell">{{translate 'facet_status'}}</div>
                <div class="roster-table-cell">{{translate 'facet_credits'}}</div>
                {{/if}}
                {{#if showVisits}}
                    {{#if ../viewSiteVisits}}
                <div class="roster-table-cell">{{translate 'total_visits'}}</div>
                <div class="roster-table-cell">{{translate 'last_visit'}}</div>
                    {{/if}}
                {{/if}} <!-- showVisits -->
                {{#if viewGroup}}
                <div class="roster-table-cell roster-group-cell">{{translate 'facet_groups'}}</div>
                {{/if}}
                {{#if viewEmail}}
                <div class="roster-table-cell roster-email">{{translate 'facet_email'}}</div>
                {{/if}}
                {{#if viewConnections}}
                <div class="roster-table-cell roster-connections-cell">{{translate 'facet_connected_status'}}</div>
                {{/if}}
            </div>
        </div>
        <span class="skip" id="{{rosterMemberId}}-count">{{roleCount}}</span>
        <div id="{{rosterMemberId}}" class="roster-table-row-group"></div>
    </div>
</div>
