{{#each members}}
<div class="roster-member">
    {{#if ../viewPicture}}
        <div class="roster-picture">
        {{#if ../viewProfile}}
            <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
        {{/if}}
        <img class="rosterPicture" src="{{profileImageUrl}}" title="{{translate 'profile_picture_alt'}} alt="{{translate 'profile_picture_alt'}} {{displayName}}" />
        {{#if ../viewProfile}}
            </a>
        {{/if}}
        </div> <!-- /roster-picture -->
    {{/if}}

    <div class="roster-info">

        <div class="roster-table">
            {{#unless ../hideNames}}
            <div class="roster-table-row">
                <div class="roster-table-cell">{{translate 'facet_name'}}</div>
                <div class="roster-table-cell">
                {{#if ../../viewProfile}}
                    <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
                {{/if}}
                    <span title="{{getName firstNameLastName}}">{{getName firstNameLastName}}</span>
                {{#if ../../viewProfile}}
                    </a>
                {{/if}}
                </div>
            </div>
            {{/unless}}

            <div class="roster-table-row">
                {{#if ../viewUserDisplayId}}
                <div class="roster-table-cell">{{translate 'facet_userId'}}</div>
                <div class="roster-table-cell">
                    {{#if ../../viewProfile}}
                    <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
                    {{/if}}
                    {{displayId}}
                    {{#if ../../viewProfile}}
                    </a>
                    {{/if}}
                </div>
                {{/if}}
            </div>

            <div class="roster-table-row">
                <div class="roster-table-cell">{{translate 'facet_role'}}</div>
                <div class="roster-table-cell">{{role}}</div>
            </div>

            {{#if ../showVisits}}
                {{#if ../../viewSiteVisits}}
            <div class="roster-table-row">
                <div class="roster-table-cell">{{translate 'total_visits'}}</div>
                <div class="roster-table-cell">{{totalSiteVisits}}</div>
            </div>

                    {{#if formattedLastVisitTime}}
            <div class="roster-table-row roster-last-visit-time">
                <div class="roster-table-cell">{{translate 'last_visit'}}</div>
                <div class="roster-table-cell roster-last-visit-time-cell">{{formattedLastVisitTime}}</div>
            </div>
                    {{/if}}
                {{/if}}
            {{/if}}

            {{#if ../viewGroup}}
            <div class="roster-table-row">
                <div class="roster-table-cell">{{translate 'groups'}}</div>
                <div class="roster-table-cell">
                    {{#if singleGroup}}
                    <a href="javascript:;" class="roster-single-group-link" data-groupid="{{singleGroup.id}}">{{singleGroup.title}}</a>
                    {{else}}
                    <select class="roster-groups-selector">
                        <option value="all">{{translate 'pick_group_instruction'}}</option>
                        {{#each groups}}
                        <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </div>

        <div class="rosterActions">
        {{#if ../viewEmail}}
            {{#if email.length}}
                <div><span class="icon connection-email" alt="{{translate 'profile_email'}} {{email}}"><a href="mailto:{{email}}" title="{{translate 'profile_email'}} {{email}}">{{translate 'profile_email'}}</a></div>
            {{/if}}
        {{/if}}
        {{#if ../viewConnections}}
            {{#if (isMe ../../currentUserId)}}
                <span class="icon connection-self">{{translate 'profile_connection_self'}}</span>
            {{else}}
                {{#if (unconnected)}}
                    <span id="{{profileDiv}}" class="icon connection-add">
                        <a href="javascript:;" onclick="return requestFriend('{{../../../../currentUserId}}','{{userId}}')">{{translate 'profile_connection_add'}}</a>
                    </span>
                {{/if}}
                {{#if (confirmed)}}
                    <span id="{{profileDiv}}" class="icon connection-confirmed">
                        <a href="javascript:;" onclick="return removeFriend('{{../../../../currentUserId}}','{{userId}}')">{{translate 'profile_connection_remove'}}</a>
                    </span>
                {{/if}}
                {{#if (requested)}}
                    <span class="icon connection-request">{{translate 'profile_connection_requested'}}</span>
                {{/if}}
                {{#if (incoming)}}
                    <span id="{{profileDiv}}">
                        <a href="javascript:;" onclick="return confirmFriendRequest('{{../../../../currentUserId}}','{{userId}}')"><img src="/library/image/silk/accept.png"></a>
                        <a href="javascript:;" onclick="return ignoreFriendRequest('{{../../../../currentUserId}}','{{userId}}')"><img src="/library/image/silk/cancel.png"></a>
                        <span class="rosterActionAlignment">{{translate 'profile_connection_accept'}}</span>
                    </span>
                {{/if}}
            {{/if}}
        {{/if}}
        </div> <!-- /rosterActions -->
    </div> <!-- /roster-info -->
</div> <!-- /roster-member -->
{{/each}}
