{{#each members}}
    <div class="roster-member roster-table-row">
    {{#if ../viewPicture}}
        <div class="roster-table-cell">
        {{#if ../viewProfile}}
            <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
        {{/if}}
        <img class="roster-picture" src="{{profileImageUrl}}" title="{{translate 'profile_picture_alt'}} alt="{{translate 'profile_picture_alt'}} {{displayName}}" />
        {{#if ../viewProfile}}
            </a>
        {{/if}}
        </div> <!-- /roster-table-cell -->
    {{/if}}

    {{#unless ../hideNames}}
        <div class="roster-table-cell">
        <div class="roster-mobile-label">{{translate 'facet_name'}}</div>
        {{#if ../../viewProfile}}
            <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
        {{/if}}
            <span title="{{getName firstNameLastName}}">{{getName firstNameLastName}}</span>
        {{#if ../../viewProfile}}
            </a>
        {{/if}}
        </div>
    {{/unless}}

    {{#if ../viewUserDisplayId}}
        <div class="roster-table-cell">
        <div class="roster-mobile-label">{{translate 'facet_userId'}}</div>
        {{#if ../../viewProfile}}
        <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
        {{/if}}
        {{displayId}}
        {{#if ../../viewProfile}}
        </a>
        {{/if}}
        </div>
    {{/if}}

    {{#if ../enrollmentsMode}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_status'}}</div>
            {{enrollmentStatusText}}
        </div>
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_credits'}}</div>
            {{credits}}
        </div>
    {{else}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_role'}}</div>
            {{role}}
        </div>
    {{/if}}

    {{#if ../showVisits}}
        {{#if ../../viewSiteVisits}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'total_visits'}}</div>
            {{totalSiteVisits}}
        </div>
            {{#if formattedLastVisitTime}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'last_visit'}}</div>
            {{formattedLastVisitTime}}
        </div>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if ../viewGroup}}
    <div class="roster-table-cell">
        <div class="roster-mobile-label">{{translate 'facet_groups'}}</div>
        {{#if singleGroup}}
        <a href="javascript:;" class="roster-single-group-link" data-groupid="{{singleGroup.id}}">{{singleGroup.title}}</a>
        {{else}}
        <select class="roster-groups-selector">
            <option value="all">{{translate 'pick_group_instruction'}}</option>
            {{#each groups}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
        </select>
        {{/if}}
    </div>
    {{/if}}

    {{#if ../viewEmail}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_email'}}</div>
            <a href="mailto:{{email}}" title="{{translate 'profile_email'}} {{email}}">{{email}}</a>
        </div>
    {{/if}}
    {{#if ../viewConnections}}
        <div class="roster-table-cell roster-connections-cell">
            <div class="roster-mobile-label">{{translate 'facet_connected_status'}}</div>
            {{#if (isMe ../../currentUserId)}}
                <span class="icon connection-self">{{translate 'profile_connection_self'}}</span>
            {{else}}
                {{#if (unconnected)}}
                    <span id="{{profileDiv}}" class="icon connection-add">
                        <a href="javascript:;" onclick="return requestFriend('{{../../../../currentUserId}}','{{userId}}')">{{translate 'profile_connection_add'}}</a>
                    </span>
                {{/if}}
                {{#if (confirmed)}}
                    <span id="{{profileDiv}}" class="icon connection-confirmed">
                        <a href="javascript:;" onclick="return removeFriend('{{../../../../currentUserId}}','{{userId}}')">{{translate 'profile_connection_remove'}}</a>
                    </span>
                {{/if}}
                {{#if (requested)}}
                    <span class="icon connection-request">{{translate 'profile_connection_requested'}}</span>
                {{/if}}
                {{#if (incoming)}}
                    <span id="{{profileDiv}}">
                        <a href="javascript:;" onclick="return confirmFriendRequest('{{../../../../currentUserId}}','{{userId}}')"><img src="/library/image/silk/accept.png"></a>
                        <a href="javascript:;" onclick="return ignoreFriendRequest('{{../../../../currentUserId}}','{{userId}}')"><img src="/library/image/silk/cancel.png"></a>
                        <span class="rosterActionAlignment">{{translate 'profile_connection_accept'}}</span>
                    </span>
                {{/if}}
            {{/if}}
        </div> <!-- /roster-table-cell -->
    {{/if}}
    </div> <!-- /roster-table-row -->
{{/each}}
