<div id="roster-members-header" class="roster-table">
    <div class="roster-table-header-group">
        <div class="roster-table-row">
            {{#if viewPicture}}
            <div class="roster-table-cell">{{translate 'facet_picture'}}</div>
            {{/if}}
            {{#unless hideNames}}
            <div class="roster-table-cell">{{translate 'facet_name'}}</div>
            {{/unless}}
            {{#if viewUserDisplayId}}
            <div class="roster-table-cell">{{translate 'facet_userId'}}</div>
            {{/if}}
            {{#if enrollmentsMode}}
            <div class="roster-table-cell">{{translate 'facet_status'}}</div>
            <div class="roster-table-cell">{{translate 'facet_credits'}}</div>
            {{else}}
            <div class="roster-table-cell">{{translate 'facet_role'}}</div>
            {{/if}}
            {{#if showVisits}}
                {{#if ../viewSiteVisits}}
            <div class="roster-table-cell">{{translate 'total_visits'}}</div>
            <div class="roster-table-cell">{{translate 'last_visit'}}</div>
                {{/if}}
            {{/if}} <!-- showVisits -->
            {{#if viewGroup}}
            <div class="roster-table-cell roster-group-cell">{{translate 'facet_groups'}}</div>
            {{/if}}
            {{#if viewEmail}}
            <div class="roster-table-cell">{{translate 'facet_email'}}</div>
            {{/if}}
            {{#if viewUserProperty}}
            <div class="roster-table-cell">{{translate 'facet_userProperties'}}</div>
            {{/if}}
        </div>
    </div>
    <div id="roster-members" class="roster-table-row-group"></div>
</div>
