{{#each members}}
    <div class="roster-member roster-table-row">
    {{#if ../viewPicture}}
        <div class="roster-table-cell">
        {{#if ../viewProfile}}
            <a href="javascript:;" class="profile" data-user-id="{{userId}}">
        {{/if}}
        <img class="roster-picture" src="{{profileImageUrl}}" title="{{translate 'profile_picture_alt'}} {{displayName}}" alt="{{translate 'profile_picture_alt'}} {{displayName}}" />
        {{#if ../viewProfile}}
            </a>
        {{/if}}
        </div> <!-- /roster-table-cell -->
    {{/if}}

    {{#unless ../hideNames}}
        <div class="roster-table-cell roster-name-cell">
            <div class="roster-mobile-label">{{translate 'facet_name'}}</div>
        {{#if ../../viewProfile}}
            <a href="javascript:;" class="profile" data-user-id="{{userId}}">
        {{/if}}
            <span title="{{getName firstNameLastName}}">{{getName firstNameLastName}}</span>
        {{#if ../../viewProfile}}
            </a>
        {{/if}}
        </div>
    {{/unless}}

    {{#if ../viewUserDisplayId}}
        <div class="roster-table-cell">
        <div class="roster-mobile-label">{{translate 'facet_userId'}}</div>
        {{#if ../../viewProfile}}
        <a href="javascript:;" class="profile" data-user-id="{{userId}}">
        {{/if}}
        {{displayId}}
        {{#if ../../viewProfile}}
        </a>
        {{/if}}
        </div>
    {{/if}}

    {{#if ../enrollmentsMode}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_status'}}</div>
            {{enrollmentStatusText}}
        </div>
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_credits'}}</div>
            {{credits}}
        </div>
    {{else}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_role'}}</div>
            {{role}}
        </div>
    {{/if}}

    {{#if ../showVisits}}
        {{#if ../../viewSiteVisits}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'total_visits'}}</div>
            {{totalSiteVisits}}
        </div>
            {{#if formattedLastVisitTime}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'last_visit'}}</div>
            {{formattedLastVisitTime}}
        </div>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if ../viewGroup}}
    <div class="roster-table-cell">
        <div class="roster-mobile-label">{{translate 'facet_groups'}}</div>
        {{#if hasGroups}}
            <div class="roster-group-cell">
            {{#each groups}}
            <a href="javascript:;" class="roster-group-link" data-groupid="{{id}}">{{title}}</a>
            {{/each}}
            </div>
        {{else}}
        <span class="roster-no-groups-label">{{translate 'roster_group_ungrouped'}}</span>
        {{/if}}
    </div>
    {{/if}}

    {{#if ../viewEmail}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_email'}}</div>
            <a href="mailto:{{email}}" title="{{translate 'profile_email'}} {{email}}">{{email}}</a>
        </div>
    {{/if}}

    {{#if ../viewUserProperty}}
        <div class="roster-table-cell">
            <div class="roster-mobile-label">{{translate 'facet_userProperties'}}</div>
            <ul class="roster-user-properties">
            {{#each userProperties}}
                <li>{{@key}}: {{this}}</li>
            {{/each}}
            </ul>
        </div>
    {{/if}}

    </div> <!-- /roster-table-row -->
{{/each}}
