    <li id="navbar_overview_link" role="menuitem"><span class="firstToolBarItem current"><a title="{{tr 'roster' 'navbar_overview_tooltip'}}" href="javascript:;">{{tr 'roster' 'navbar_overview'}}</a></span></li>
    <li id="navbar_enrollment_status_link" role="menuitem"><span><a title="{{tr 'roster' 'navbar_status_tooltip'}}" href="javascript:;">{{tr 'roster' 'navbar_status'}}</a></span></li>
    <li id="navbar_permissions_link" role="menuitem"><span><a title="{{tr 'roster' 'navbar_permissions_tooltip'}}" href="javascript:;">{{tr 'roster' 'navbar_permissions'}}</a></span></li>
