{{#each members}}
    <div class="roster-member roster-pictureview">
        <div class="roster-pictureview-picture">
            <img src="{{profileImageUrl}}" title="{{translate 'profile_picture_alt'}} {{displayName}}" alt="{{translate 'profile_picture_alt'}} {{displayName}}" />
        </div>

        <div class="roster-name">
            {{#unless ../hideNames}}
            <span title="{{getName firstNameLastName}}">{{getName firstNameLastName}}</span>
            {{/unless}}
        </div>
    </div>
{{/each}}
