<div class="roster-table">
{{#each members}}
    <div class="roster-table-row">
    {{#if ../viewPicture}}
        <div class="roster-table-cell roster-picture">
        {{#if ../viewProfile}}
            <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
        {{/if}}
        <img class="rosterPicture" src="{{profileImageUrl}}" title="{{translate 'profile_picture_alt'}} alt="{{translate 'profile_picture_alt'}} {{displayName}}" />
        {{#if ../viewProfile}}
            </a>
        {{/if}}
        </div> <!-- /roster-table-cell -->
    {{/if}}

    {{#unless ../hideNames}}
        <div class="roster-table-cell">
        {{#if ../../viewProfile}}
            <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
        {{/if}}
            <span title="{{getName firstNameLastName}}">{{getName firstNameLastName}}</span>
        {{#if ../../viewProfile}}
            </a>
        {{/if}}
        </div>
    {{/unless}}

    {{#if ../viewUserDisplayId}}
        <div class="roster-table-cell">
            {{#if ../../viewProfile}}
            <a href="javascript:;" class="profile" rel="{{formattedProfileUrl}}">
            {{/if}}
            {{displayId}}
            {{#if ../../viewProfile}}
            </a>
            {{/if}}
        </div>
    {{/if}}

        <div class="roster-table-cell">{{role}}</div>

    {{#if ../showVisits}}
        {{#if ../../viewSiteVisits}}
        <div class="roster-table-cell">{{totalSiteVisits}}</div>

        {{#if formattedLastVisitTime}}
        <div class="roster-table-cell roster-last-visit-time-cell">{{formattedLastVisitTime}}</div>
        {{/if}}
        {{/if}}
    {{/if}}

    {{#if ../viewGroup}}
        <div class="roster-table-cell">
            {{#if singleGroup}}
            <a href="javascript:;" class="roster-single-group-link" data-groupid="{{singleGroup.id}}">{{singleGroup.title}}</a>
            {{else}}
            <select class="roster-groups-selector">
                <option value="all">{{translate 'pick_group_instruction'}}</option>
                {{#each groups}}
                <option value="{{@key}}">{{this}}</option>
                {{/each}}
            </select>
            {{/if}}
        </div>
    {{/if}}

    {{#if ../viewEmail}}
        {{#if email.length}}
            <div class="roster-table-cell"><span class="icon connection-email" alt="{{translate 'profile_email'}} {{email}}"><a href="mailto:{{email}}" title="{{translate 'profile_email'}} {{email}}">{{translate 'profile_email'}}</a></div>
        {{/if}}
    {{/if}}
    </div> <!-- /roster-table-row -->
{{/each}}
</div> <!-- /roster-table -->
