<div class="commons-og-fragment">
    <div class="commons-og-image-wrapper">
        <a href="{{url}}" target="_blank"><img class="commons-og-image" src="{{image}}"/></a>
    </div>
    <div class="commons-og-title">
        <a href="{{url}}" target="_blank">{{title}}</a>
    </div>
    <div class="commons-og-description">{{description}}</div>
    <div class="commons-og-sitename">{{siteName}}</div>
</div>
