    <div class="commons-post-editor">
        <div class="commons-photo-text-wrapper">
            <sakai-user-photo user-id="{{currentUserId}}"></sakai-user-photo>
            <div class="commons-editor-text-wrapper">
                <div class="commons-editor-text"><span id="commons-post-creator-editor" contenteditable="true">{{tr 'post_editor_initial_text'}}</span></div>
            </div>
        </div>
        <div id="commons-editor-toolbar" class="act">
            <button id="commons-editor-post-button" class="btn btn-link active" disabled="true">{{tr 'post'}}</button>
            <button id="commons-editor-cancel-button" class="btn btn-link" disabled="true">{{tr 'cancel'}}</button>
            <button id="commons-editor-link-button"
                    class="btn btn-link commons-editor-special-button"
                    title="{{tr 'link_button_tooltip'}}">
                <span class="si si-link" aria-hidden="true"></span>
            </button>
            <button id="commons-editor-image-button" class="btn btn-link commons-editor-special-button" title="{{tr 'image_button_tooltip'}}">
                <span class="si si-image" aria-hidden="true"></span>
            </button>
            <span id="commons-editor-priority-container" style="display:none;">
                <input type="checkbox" id="commons-editor-priority" class="commons-editor-priority"></input>
                <label for="commons-editor-priority" class="commons-editor-priority-label">{{tr 'priority'}}</label>
                <button id="commons-editor-priority-help"
                        class="btn icon-button"
                        data-bs-toggle="popover"
                        data-placement="top"
                        data-trigger="focus"
                        data-html="true"
                        data-content="{{tr 'priorityHelp'}}">
                    <span class="si si-question-circle" aria-hidden="true"></span>
                </button>
                <br>
            </span>
        </div>
    </div>

    <div id="commons-posts-wrapper">
        <br />
        <div id="commons-posts">
        </div>
	</div>
    
    <!-- Link Dialog Modal -->
    <div class="modal fade" id="commons-link-dialog" tabindex="-1" aria-labelledby="commons-link-dialog-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commons-link-dialog-label">{{tr 'link_button_tooltip'}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="commons-link-dialog-text" class="form-label">{{tr 'display_text'}}</label>
                        <input type="text" class="form-control" id="commons-link-dialog-text" />
                    </div>
                    <div class="mb-3">
                        <label for="commons-link-dialog-url" class="form-label">{{tr 'link_to'}}</label>
                        <input type="text" class="form-control" id="commons-link-dialog-url" />
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="commons-link-dialog-load-thumbnail" />
                        <label class="form-check-label" for="commons-link-dialog-load-thumbnail">{{tr 'load_thumbnail'}}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="commons-link-dialog-insert-button" class="btn btn-primary" disabled="true">{{tr 'insert'}}</button>
                    <button type="button" id="commons-link-dialog-cancel-button" class="btn btn-secondary" data-bs-dismiss="modal">{{tr 'cancel'}}</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Image Dialog Modal -->
    <div class="modal fade" id="commons-image-dialog" tabindex="-1" aria-labelledby="commons-image-dialog-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commons-image-dialog-label">{{tr 'image_button_tooltip'}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="commons-image-dialog-file" id="commons-imagefile-instruction" class="form-label">{{tr 'choose_image_file' max=maxUploadSize}}</label>
                        <input type="file" class="form-control" id="commons-image-dialog-file" accept=".png,.jpg,.jpeg,.gif,image/png,image/jpeg,image/jpg,image/gif" />
                        <div id="commons-image-dialog-message" class="form-text text-danger"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="commons-image-dialog-insert-button" class="btn btn-primary" disabled="true">{{tr 'insert'}}</button>
                    <button type="button" id="commons-image-dialog-cancel-button" class="btn btn-secondary" data-bs-dismiss="modal">{{tr 'cancel'}}</button>
                </div>
            </div>
        </div>
    </div>
