<div id="commons-post-outer-container-{{id}}" class="commons-post-outer-container">

    <div class="commons-post-inner-container">

        <div class="commons-photo" style="background-image:url(/direct/profile/{{creatorId}}/image/thumb)"></div>
        <div class="commons-post-text-container">
            <div class="commons-post-body">
                <div class="commons-post-content"><a id="commons-author-name-{{id}}" class="commons-post-author-name" href="javascript:;">{{creatorDisplayName}}</a><span id="commons-post-content-{{id}}">{{{content}}}<span></div>
                <div id="commons-post-options-{{id}}" class="commons-post-options">
                    {{#if canComment}}
                    <a href="javascript:;" id="commons-create-comment-link-{{id}}" class="commons-create-comment-link" data-post-id="{{id}}">{{tr 'commons' 'comment'}}</a>
                    {{/if}}
                    {{#if canEdit}}
                    <a href="javascript:;" id="commons-post-edit-link-{{id}}" class="commons-post-edit-link" data-post-id="{{id}}">{{tr 'commons' 'edit'}}</a>
                    {{/if}}
                    {{#if canDelete}}
                    <a href="javascript:;" id="commons-post-delete-link-{{id}}" class="commons-post-delete-link" data-post-id="{{id}}">{{tr 'commons' 'del'}}</a>
                    {{/if}}
                    {{#if isModified}}
                    <span class="commons-date">{{tr 'commons' 'modified_at'}} {{formattedModifiedDate}}</span>
                    {{else}}
                    <span class="commons-date">{{formattedReleaseDate}}</span>
                    {{/if}}
                </div>
                <div id="commons-post-edit-buttons-{{id}}" class="commons-post-edit-buttons">
                    <button id="commons-inplace-post-editor-post-button-{{id}}">{{tr 'commons' 'post'}}</button>
                    <button onclick="commons.utils.cancelPostEdit('{{id}}');">{{tr 'commons' 'cancel'}}</button>
                </div>
            </div>
        </div> <!-- commons-post-text-container -->

    </div> <!-- /commons-post-inner-container -->

    <div id="commons-comments-{{id}}" class="commons-comments">
        <div id="commons-comments-container-{{id}}">
        <div class="commons-comment-expander"><a href="javascript:;" id="commons-show-comments-link-{{id}}">{{tr 'commons' 'show_comments'}}</a></div>
        <div class="commons-comment-expander"><a href="javascript:;" id="commons-hide-comments-link-{{id}}" style="display: none;">{{tr 'commons' 'hide_comments'}}</a></div>
        {{#each comments}}
            {{> wrapped_comment}}
        {{/each}}
        </div>
        <div id="commons-comment-creator-{{id}}" class="commons-comment-creator">
        {{> inplace_comment_editor}}
        </div>
    </div> <!-- commons-comments -->

</div> <!-- /commons-post-outer-container -->
