<div id="commons-single-post-title">{{tr 'commons' 'commons_link_preamble'}}<a id="commons-view-commons-link" href="javascript:;">{{tr 'commons' 'here'}}</a>{{tr 'commons' 'commons_link_postamble'}}</div>
<div id="commons-post-{{id}}" class="commons-post" data-creator-id="{{creatorId}}">
</div>
