<div class="sak-banner-info">{{tr 'commons_link_preamble'}}<a id="commons-view-commons-link" href="javascript:;">{{tr 'here'}}</a>{{tr 'commons_link_postamble'}}</div>
<div id="commons-post-{{id}}" class="commons-post" data-creator-id="{{creatorId}}">
</div>
