<h2 id="feedback-title">{{translate 'title'}}</h2>
<div id="feedback-overview" class="instruction">
    {{translate 'overview'}}
</div>
<div id="feedback-help-wrapper" class="instruction">
	<span>{{translate 'help_home' helpPagesUrl=helpPagesUrl helpPagesTarget=helpPagesTarget}}</span>
</div>
{{#if showTechnicalPanel}}
    {{#unless enableTechnical}}
        <div id="feedback-technical-setup-instruction" class="information">
            {{translate 'technical_setup_instruction'}}
        </div>
    {{/unless}}
{{/if}}
{{#if showHelpPanel}}
    {{#unless enableHelp}}
        <div id="feedback-helpdesk-setup-instruction" class="information">
            {{translate 'ask_setup_instruction'}}
        </div>
    {{/unless}}
{{/if}}
{{#if showSuggestionsPanel}}
    {{#unless enableSuggestions}}
        <div id="feedback-suggestion-setup-instruction" class="information">
            {{translate 'feature_suggestion_setup_instruction'}}
        </div>
    {{/unless}}
{{/if}}
<div id="feedback-links">

    {{#if showContentPanel}}
        <div class="feedback-box" id="feedback-content-problem">
            <div class="feedback-box-header">
                <span class="fa fa-fw {{translate 'content_icon_no_translate'}}" aria-hidden="true"></span>
                <h3>{{translate 'content_title'}}</h3>
            </div>
            <ul class="list">{{translate 'content_explanation'}}</ul>
            <div class="feedback-box-bottom">
                <p class="feedback-box-bottom-link"><a id="feedback-report-content-link" href="javascript:;">{{translate 'content_link'}}</a></p>
            </div>
            <div class="clear"></div>
        </div>
    {{/if}}

    {{#if showHelpPanel}}
        <div class="feedback-box" id="feedback-ask-help">
            <div class="feedback-box-header">
                <span class="fa fa-fw {{translate 'ask_icon_no_translate'}}" aria-hidden="true"></span>
                <h3>{{translate 'ask_title'}}</h3>
            </div>
            <ul class="list">{{translate 'ask_explanation'}}</ul>
            <div class="feedback-box-bottom">
                {{#if enableHelp}}
                    <p class="feedback-box-bottom-link"><a id="feedback-report-helpdesk-link"
                    {{#if helpPanelAsLink}}
                        href="{{helpdeskUrl}}" target="_blank"
                    {{else}}
                        href="javascript:;"
                    {{/if}}
                    >{{translate 'ask_link'}}</a></p>
                {{else}}
                    <p class='information'>{{translate 'no_help_address'}}</p>
                {{/if}}
            </div>
            <div class="clear"></div>
        </div>
    {{/if}}

    {{#if showTechnicalPanel}}
        <div class="feedback-box" id="feedback-tech-problem">
            <div class="feedback-box-header">
                <span class="fa fa-fw {{translate 'technical_icon_no_translate'}}" aria-hidden="true"></span>
                <h3>{{translate 'technical_title'}}</h3>
            </div>
            <ul class="list">{{translate 'technical_explanation'}}</ul>
            <div class="feedback-box-bottom">
                {{#if enableTechnical}}
                    <p class="feedback-box-bottom-link"><a id="feedback-report-technical-link"
                    {{#if technicalPanelAsLink}}
                        href="{{technicalUrl}}" target="_blank"
                    {{else}}
                        href="javascript:;"
                    {{/if}}
                    >{{translate 'technical_link'}}</a></p>
                {{else}}
                    <p class='information'>{{translate 'no_technical_address'}}</p>
                {{/if}}
            </div>
            <div class="clear"></div>
        </div>
    {{/if}}

    {{#if showSuggestionsPanel}}
        <div class="feedback-box" id="feedback-improvement">
            <div class="feedback-box-header">
                <span class="fa fa-fw {{translate 'suggest_icon_no_translate'}}" aria-hidden="true"></span>
                <h3>{{translate 'suggest_title'}}</h3>
            </div>
            <ul class="list">{{translate 'suggest_explanation'}}</ul>
            <div class="feedback-box-bottom">
                {{#if enableSuggestions}}
                    <p class="feedback-box-bottom-link"><a id="feedback-suggest-feature-link"
                    {{#if suggestionsPanelAsLink}}
                          href="{{featureSuggestionUrl}}" target="_blank"
                    {{else}}
                          href="javascript:;"
                    {{/if}}
                    >{{translate 'suggest_link'}}</a></p>
                {{else}}
                    <p class='information'>{{translate 'no_suggestion_url'}}</p>
                {{/if}}
            </div>
            <div class="clear"></div>
        </div>
    {{/if}}

    {{#if showSupplementalAPanel}}
        <div class="feedback-box" id="feedback-supplemental-a">
            <div class="feedback-box-header">
                <span class="fa fa-fw {{translate 'supplemental_a_icon_no_translate'}}" aria-hidden="true"></span>
                <h3>{{translate 'supplemental_a_title'}}</h3>
            </div>
            <ul class="list">{{translate 'supplemental_a_explanation'}}</ul>
            <div class="feedback-box-bottom">
                {{#if enableSupplementalA}}
                    <p class="feedback-box-bottom-link"><a id="feedback-report-supplemental-a-link"
                        {{#if supplementalAPanelAsLink}}
                          href="{{supplementalAUrl}}" target="_blank"
                        {{else}}
                          href="javascript:;"
                        {{/if}}
                    >{{translate 'supplemental_a_link'}}</a></p>
                {{else}}
                    <p class='information'>{{translate 'no_supplemental_a'}}</p>
                {{/if}}
            </div>
            <div class="clear"></div>
        </div>
    {{/if}}

    {{#if showSupplementalBPanel}}
        <div class="feedback-box" id="feedback-supplemental-b">
            <div class="feedback-box-header">
                <span class="fa fa-fw {{translate 'supplemental_b_icon_no_translate'}}" aria-hidden="true"></span>
                <h3>{{translate 'supplemental_b_title'}}</h3>
            </div>
            <ul class="list">{{translate 'supplemental_b_explanation'}}</ul>
            <div class="feedback-box-bottom">
                {{#if enableSupplementalB}}
                    <p class="feedback-box-bottom-link"><a id="feedback-report-supplemental-b-link"
                        {{#if supplementalBPanelAsLink}}
                          href="{{supplementalBUrl}}" target="_blank"
                        {{else}}
                          href="javascript:;"
                        {{/if}}
                    >{{translate 'supplemental_b_link'}}</a></p>
                {{else}}
                    <p class='information'>{{translate 'no_supplemental_b'}}</p>
                {{/if}}
            </div>
            <div class="clear"></div>
        </div>
    {{/if}}

    {{#unless showContentPanel}}
        {{#unless showHelpPanel}}
            {{#unless showTechnicalPanel}}
                {{#unless showSuggestionsPanel}}
                    {{#unless showSupplementalAPanel}}
                        {{#unless showSupplementalBPanel}}
                            <div class="feedback-box" id="feedback-no-panels">
                                <div class="feedback-box-header">
                                    <span class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></span>
                                    <h3>{{translate 'no_panels_title'}}</h3>
                                </div>
                                <p>{{translate 'no_panels_explanation'}}</p>
                                <div class="clear"></div>
                            </div>
                        {{/unless}}
                    {{/unless}}
                {{/unless}}
            {{/unless}}
        {{/unless}}
    {{/unless}}

    <div id="feedback-supplementary-info">{{{supplementaryInfo}}}</div>
    <div class="clear"></div>
</div>
