{{#each members}}
    <div class="roster-member roster-table-row">
    {{#if ../viewPicture}}
        <div class="roster-table-cell roster-picture-cell">
        {{#if ../viewProfile}}
            <a href="javascript:;" class="profile" data-user-id="{{userId}}">
        {{/if}}
            <img class="roster-picture" src="{{profileImageUrl}}" title="{{tr 'profile_picture_alt'}} {{displayName}}" alt="{{tr 'profile_picture_alt'}} {{displayName}}" />
        {{#if ../viewProfile}}
            </a>
        {{/if}}
        </div> <!-- /roster-table-cell -->
    {{/if}}

    {{#unless ../hideNames}}
        <div class="roster-table-cell roster-name-cell">
            <div class="roster-mobile-label">{{tr 'facet_name'}}</div>
        {{#if ../../viewProfile}}
            <a href="javascript:;" class="profile" data-user-id="{{userId}}">
        {{/if}}
            <span title="{{getName firstNameLastName}}">{{getName firstNameLastName}}</span>
        {{#if ../../viewProfile}}
            </a>
        {{/if}}
        </div>
    {{/unless}}

    {{#if ../viewUserNamePronunciation}}
        <div class="roster-table-cell roster-user-name-pronunciation-cell">
            <div class="roster-mobile-label">{{tr 'facet_user_name_pronunciation'}}</div>
                <span class="namePronunciation">
                {{#if pronunciation}}
                    {{{pronunciation}}}
                {{else}}
                    {{#ifCond ../currentUserId userId}}
                        {{#if ../profileNamePronunciationLink}}
                            <a href="{{../profileNamePronunciationLink}}">{{tr 'name_pronunciation_profile_link'}}</a>
                        {{else}}
                            {{{tr 'name_pronunciation_not_provided'}}}
                        {{/if}}
                    {{else}}
                        {{{tr 'name_pronunciation_not_provided'}}}
                    {{/ifCond}}
                {{/if}}
                </span>
        </div>
    {{/if}}

    {{#if ../viewUserDisplayId}}
        <div class="roster-table-cell roster-userId-cell">
            <div class="roster-mobile-label">{{tr 'facet_userId'}}</div>
                <span class="roster-userId">
                {{#if ../../viewProfile}}
                    <a href="javascript:;" class="profile" data-user-id="{{userId}}">
                {{/if}}
                    {{displayId}}
                {{#if ../../viewProfile}}
                    </a>
                {{/if}}
            </span>
        </div>
    {{/if}}

    {{#if ../enrollmentsMode}}
        <div class="roster-table-cell roster-status-cell">
            <div class="roster-mobile-label">{{tr 'facet_status'}}</div>
            <span class="roster-status">{{enrollmentStatusText}}</span>
        </div>
        <div class="roster-table-cell roster-credits-cell">
            <div class="roster-mobile-label">{{tr 'facet_credits'}}</div>
            <span class="roster-credits">{{credits}}</span>
        </div>
    {{else}}
        <div class="roster-table-cell roster-role-cell">
            <div class="roster-mobile-label">{{tr 'facet_role'}}</div>
            <span class="roster-role">{{role}}</span>
        </div>
    {{/if}}

    {{#if ../showVisits}}
        {{#if ../../viewSiteVisits}}
        <div class="roster-table-cell roster-total-visits-cell">
            <div class="roster-mobile-label">{{tr 'total_visits'}}</div>
            <span class="roster-total-visits">{{totalSiteVisits}}</span>
        </div>
            {{#if formattedLastVisitTime}}
        <div class="roster-table-cell roster-last-visit-cell">
            <div class="roster-mobile-label">{{tr 'last_visit'}}</div>
            <span class="roster-last-visit">{{formattedLastVisitTime}}</span>
        </div>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if ../viewGroup}}
    <div class="roster-table-cell roster-groups-cell">
        <div class="roster-mobile-label">{{tr 'facet_groups'}}</div>
        {{#if hasGroups}}
            <div class="roster-group-cell">
                {{#if singleGroup}}
                <a href="javascript:;" class="roster-group-link" data-groupid="{{singleGroup.id}}">{{singleGroup.title}}</a>
                {{else}}
                <span class="skip">{{tr 'screenreader_comboBox'}}</span>
                <select class="roster-groups-selector">
                    <option value="all">{{tr 'member_group_all_option'}}</option>
                    {{#each groups}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
                {{/if}}
            </div>
        {{else}}
        <span class="roster-no-groups-label">{{tr 'roster_group_ungrouped'}}</span>
        {{/if}}
    </div>
    {{/if}}

    {{#if ../viewEmail}}
        <div class="roster-table-cell roster-email-cell">
            <div class="roster-mobile-label">{{tr 'facet_email'}}</div>
            <a href="mailto:{{email}}" title="{{tr 'profile_email'}} {{email}}">{{email}}</a>
        </div>
    {{/if}}

    {{#if ../viewUserProperty}}
        <div class="roster-table-cell roster-user-props-cell">
            <div class="roster-mobile-label">{{tr 'facet_userProperties'}}</div>
            <ul class="roster-user-properties">
            {{#each userProperties}}
                <li>{{@key}}: {{this}}</li>
            {{/each}}
            </ul>
        </div>
    {{/if}}

    </div> <!-- /roster-table-row -->
{{/each}}
