    <li id="navbar_overview_link" role="menuitem" class="firstToolBarItem"><span><a title="{{tr 'navbar_overview_tooltip'}}" href="javascript:;">{{tr 'navbar_overview'}}</a></span></li>
    <li id="navbar_enrollment_status_link" role="menuitem"><span><a title="{{tr 'navbar_status_tooltip'}}" href="javascript:;">{{tr 'navbar_status'}}</a></span></li>
    <li id="navbar_permissions_link" role="menuitem"><span><a title="{{tr 'navbar_permissions_tooltip'}}" href="javascript:;">{{tr 'navbar_permissions'}}</a></span></li>
