    <li id="navbar_overview_link" role="menuitem"><span class="firstToolBarItem current"><a title="{{translate 'navbar_overview_tooltip'}}" href="javascript:;">{{translate 'navbar_overview'}}</a></span></li>
    <li id="navbar_enrollment_status_link" role="menuitem"><span><a title="{{translate 'navbar_status_tooltip'}}" href="javascript:;">{{translate 'navbar_status'}}</a></span></li>
    <li id="navbar_export_link" role="menuitem"><span><a title="{{translate 'navbar_export_tooltip'}}" href="javascript:;">{{translate 'navbar_export'}}</a></span></li>
    <li id="navbar_print_link" role="menuitem"><span><a title="{{translate 'navbar_print_tooltip'}}" href="javascript:;" onclick="window.print();">{{translate 'navbar_print'}}</a></span></li>
    <li id="navbar_permissions_link" role="menuitem"><span><a title="{{translate 'navbar_permissions_tooltip'}}" href="javascript:;">{{translate 'navbar_permissions'}}</a></span></li>
